@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

html {
    font-size: 62.5% !important;
}

body {

    background-color: #17181a !important;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
}

/* UTILITY CLASSES */

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    border: 1px solid #626262;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 50px;
    padding: 7px 15px;
    white-space: nowrap;
    background-color: transparent;
    font-family: Saira Condensed, sans-serif;
    text-transform: uppercase;

}


.dotted-circle{
    top: -6rem;
    -webkit-animation: rotation 15s linear infinite;
    animation: rotation 15s linear infinite;
    position: absolute;
    right: -26px;
    z-index: 4;
}

@keyframes rotation {
   0%{  transform: rotate(-360deg);}
   

   100%{
    transform: rotate(360deg);
   }

}

.dot-frame{
    top: -6rem;
    animation: fade 1s infinite;
    position: absolute;
    left: -26px;
    z-index: 4;
    opacity: 0;
}


@keyframes fade {
    from{
        opacity: 0.4;
    } to{
        opacity: 0.9;
    }   

 }

/* ########################### HEADER STYLING  #############################*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #17181a !important;
    box-shadow: 8px 20px 35px rgba(0, 0, 0, 0.22);
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    transition: 0.5s ;
    z-index: 10000;
    padding: 2.5rem 0rem;
}

.fixed{
    /* background-color: white!important; */
    padding: 2rem 0rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box a{
    text-decoration: none;

}

.logo-box h2 {
    font-size: 2.2rem;
    color: #fff;
}

.logo-box h2 span {
    color: red;
}

.menu-items ul {
    display: flex;
    margin: 0;
}

.menu-items ul li {
    text-transform: uppercase;
    list-style: none;
    margin-left: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 5%;
    line-height: 30px;
    position: relative;


}

.menu-items ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-in-out;

}


.menu-items ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}


.menu-items ul li a:hover {
    color: red;
}


.menu-items ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}



.nav-btn {
    /* border: 1px solid #626262; */
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 50px;
    padding: 7px 15px;
    white-space: nowrap;
    background-color: transparent;
    font-family: Saira Condensed, sans-serif;
    text-transform: uppercase;

}


/* Hamburger Icon */
.hamburger {
    display: none;
    position: fixed;
    top: 35px;
    right: 50px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(5px);
  }
  
  .hamburger-bottom {
    transform: translateY(10px);
  }
  
  /* Transition hamburger to X when open */
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
  
  /* Overlay */
  .overlay-show {
    /* border: 2px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  
  /* Stop body scroll */
  .stop-scrolling {
    overflow: hidden;
  }
  
  /* Hide mobile main menu items */
  .mobile-only {
    display: none;
  }
  
  /* Mobile menu */
  .mobile-main-menu {
    /* border: 2px solid white; */

    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .show-menu {
    transform: translateX(0);
  }
  
  .mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }
  
  .mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
  }
  
  .mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.6s;
    text-decoration: none;
  }
  
  .mobile-main-menu ul li a:hover {
    color: #aaa;
  }

/*####################################### SECTION  -  A ########################*/

/* BACKGROUND  */


.section-a {
    /* height: 90vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/secabg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0rem ;
}




/* CONTENT AREA  */

.sec-a-box {
    /* border: 2px solid white; */
    /* height: 90vh; */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 10rem;

}

.seca-content {
    /* border: 2px solid white; */
    margin-left: -15rem;

    /* width: 50%; */
}

.seca-content h4 {
    color: rgba(255, 0, 0, 0.616);
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: capitalize;
    word-spacing: 2.1rem;
    letter-spacing: 0.4rem;
}


.cnt-box1 {
    margin-left: 8rem;
    padding-top: 5rem;
}

.seca-content .cnt-box1 h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 5rem;
    color: #fff;
}

.seca-content .cnt-box1 h3 {
    font-size: 2rem;
    color: #636363;
    font-weight: 500;
}

.seca-content .cnt-box1 span {
    color: red;
    font-weight: 700;
}

.secabtn-box {
    /* border: 2px solid white; */
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.secabtn-box .seca-btn {
    padding: 0.7rem 1rem;
}
.secabtn-box .seca-btn  a{
    color: #fff;
    text-decoration: none;
}


 


/*########################################### SECTION B ############################ */



/* Back Ground */

.section-b {

    /* height: 90vh; */
    background-color: #020b0d;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/secbg.png);
    position: relative;
}


/* content  */

.sec-b-box .title h2 {
    color: white;
    -webkit-text-stroke: 2px #3d3d3d;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 900;
    text-align: left;
}

.sec-b-box .title {
    /* margin-left: 10rem; */
    padding-top: 5rem;
}


.secb-content {
    position: relative;
    /* border: 2px solid whitesmoke; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}





.secb-content .card {
    margin: 2rem 0;
    background-color: #17181a;
    border: 1px solid #2d2d2d;
    padding: 4rem 2.5rem;
    flex-basis: 30%;
    /* border: 2px solid white; */
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.secb-content .card .card-box1 {
    color: white;
    /* border: 2px solid white; */
}

.secb-content .card .card-box1 .number {
    color: hsla(0, 0%, 100%, .05);
    font-family: Saira Condensed, sans-serif;
    font-size: 60px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

}


.secb-content .card .card-box1 .service-name {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
    max-width: 200px;
}

.secb-content .card:hover .card-box1 .number {
    color: red;
}


.secb-content .card .card-box2 {
    width: 40%;
    height: 12rem;
    /* border: 2px solid white; */

}

.secb-content .card .card-box2 img {

    width: 100%;
    height: 100%;
    display: block;
}


.secb-content .card3 {
    background-color: white;
    box-sizing: border-box;
    padding: 1.5rem 2.5rem;
    z-index: 8;

}

.secb-content .card3 .card-box {
    /* border: 2px solid black; */
    width: 100%;
}

.secb-content .card3 .card-box h1 {
    color: black;
    font-size: 6rem;
    text-align: left;
    margin-bottom: 2rem;
}

.secb-content .card3 .card-box .card-btn {
    color: black;
    /* width: 50%; */
    padding: 1rem 4rem;
    margin: 0;
    transition: background 0.2s ease-in-out;
}

.secb-content .card3 .card-box .card-btn:hover {
    background-color: black;
    color: white;
}




/* ###################################### Section - c ######################### */


.section-c {
    padding-top: 10rem;
    /* height: 90vh; */
    background-color: #020b0d;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(./assets/secbg.png);
}



.sec-c-box .title h2 {
    color: white;
    -webkit-text-stroke: 2px #3d3d3d;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 900;
    text-align: right;
}

/* .sec-b-box .title{
    margin-left: 10rem;
    padding-top: 5rem;
} */



.secc-box1 {
    /* border: 2px solid white;  */
    display: flex !important;
    position: relative;
    /* flex-wrap: wrap; */
}

.secc-box1 .secc-box11,
.secc-box1 .secc-box12 {
    width: 50%;
    flex: 0 0 auto;
    /* border: 2px solid white; */
    /* padding: 1rem; */
}

.secc-box1 .secc-box11 {
    padding: 0rem 1rem;
    z-index: 5;

}

.secc-box1 .secc-box11 img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.abt-content {
    border: 1px solid #2d2d2d;
    padding: 3rem;
}

.secc-box1 .secc-box12 {
    color: white;
    background: #17181a;
    padding: 3rem;
}

/* Generalized for Both Boxes i.e Secc-box1 and Secc-box2 */

.about-hd {
    color: #9da1a5;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.abt-content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}

.abt-content p {
    color: #9da1a5;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}

/* Till Here */

.abt-content ul {
    margin-bottom: 3rem;
    list-style: none;

}

.abt-content ul li {
    cursor: pointer;
    margin-bottom: 1.3rem;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #9da1a5;
    font-family: Saira Condensed, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    transition: .4s ease-in
}

.abt-content ul li:hover {
    color: red;
}

.abt-content ul li svg {
    fill: #555;
    margin-right: 10px;
    transition: .4s ease-in
}

.abt-content ul li:hover svg {
    fill: red;
}

/* Section C   box 2 */

.secc-box2 {
    /* border: 2px solid white; */
    display: flex !important;
    margin-top: 10rem;
}


.secc-box2 .secc-box21,
.secc-box1 .secc-box22 {
    width: 50%;
    flex: 0 0 auto;
    /* border: 2px solid white; */
    /* padding: 1rem; */
}

.secc-box2 .secc-box22 {
    padding: 0rem 1rem;
}

.secc-box2 .secc-box22 img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.secc-box2 .secc-box21 {
    color: white;
    background: #17181a;
    padding: 3rem;
}

.secc-box2 .secc-box21 .counter-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    /* flex-wrap: wrap; */
}


.secc-box2 .secc-box21 .counter-wrapper .counter-item {
    width: auto;
    /* border: 2px solid white; */
}

.secc-box2 .secc-box21 .counter-wrapper .counter-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/*################################## Section - D ############################ */


.section-d {
    padding-top: 10rem;
    /* height: 90vh; */
    background-color: #020b0d;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(./assets/secbg.png);
}

/* Sec-D Title */

.sec-d-box .title h2 {
    color: white;
    -webkit-text-stroke: 2px #3d3d3d;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 900;
    text-align: left;
}

.sec-d-box .title {
    /* margin-left: 10rem; */
    padding-top: 5rem;
    margin-bottom: 5rem;
}

/*##### Sec - D Content ########## */

.secd-content{
    position: relative;
}

.secd-content .team-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.secd-content .wrapper1 .item-wrapper {
    /* width: 370px; */
    /* height: 400px; */
    margin-bottom:2rem;
    width: 280px;
    height: 400px;
    position: relative;
    z-index: 5;
}

.secd-content .wrapper1 .upper-items{
    width: 360px;
}






.item-wrapper::after {
    z-index: 9;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.5s ease;
}

.item-wrapper:hover::after {
    opacity: 1;
    transform: scaleY(1);
}


.item-wrapper img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;

}

.content {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s ease;
}

.content:hover {
    opacity: 1;
}

.content h1 {
    color: white;
    font-size: 2.5rem;
}

.content p {
    color: whitesmoke;
    font-size: 2rem;
}

.content>* {
    transform: translateY(25px);
    transition: all 0.5s ease;
}

.content:hover>* {
    transform: translateY(0px);
}

.content i {
    font-size: 2.5rem;
    color: white;
    margin: 1.5rem 1rem 1.5rem 0rem;
    cursor: pointer;
    transition: all .5s ease;
}

.content i:hover {
    color: red;
}


/* Our TEam Meet Our Team Styling */

.our-team-content {
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 350px;
    height: 400px;
    z-index: 5;
    margin-bottom: 2rem;
}

.our-team-content h1 {
    font-size: 6rem;
    color: #17181a;
    font-weight: 600;
    line-height: 70px
}

.our-team-content p {
    color: #555;
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}

.our-team-content button {
    color: black;
    font-weight: 600;
    transition: all 0.5s ease;
}

.our-team-content button:hover {
    background-color: black;
    color: white;
}





/* ########################### SECTION - E ############################################# */

/* Sec E Background */

.section-e {
    padding-top: 10rem;
    /* height: 90vh; */
    background-color: #020b0d;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(./assets/secbg.png);
}

/* Sec E Title */

.sec-e-box .title h2 {
    color: white;
    -webkit-text-stroke: 2px #3d3d3d;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 900;
    text-align: right;
    margin-bottom: 0.2em;
}


/* Sec E Content */

.sece-content {
    /* border: 2px solid whitesmoke; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.sece-content .sec-e-box1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}


.sec-e-box1 .test-item1 {
    border: 2px solid #727272;
    padding: 1.5em;
}

.sec-e-box1 .test-item1 .test-content {
    padding: 1rem;
    color: white;
}
.sec-e-box1 .author h5{
    margin: 1rem;
    font-size: 1.2rem;
}


.sec-e-box1 .test-item1 .test-content h6 {
    font-size: 2rem;
    font-weight: 300;
}

.sec-e-box1 .test-item1 .test-content .test-des {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sec-e-box1 .test-item1 .test-content .test-des ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.test-des ul li {
    margin-right: 1rem;
}

.test-des ul li a {
    text-decoration: none;
    color: #555;
}

.sec-e-box1 .test-item1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #17181a;
    border: 1px solid #2d2d2d;
    min-width: 0;

}

.sec-e-box1 .test-item1 .test-image {
    max-width: 200px;
    height: 150px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
    object-position: center;

}

.sec-e-box1 .test-item1 .test-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
}


.sece-content .sec-e-box2 {
    /* border: 2px solid red; */
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}




/* LOGOS CARAOUSEL */


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    margin-top: 4rem;
    display: flex;
    overflow: hidden;
    padding: 60px 0;
    background: transparent;
    /* white-space: nowrap; */
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
}

.logos:after {
    right: 0;
}

/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide {
    min-width: max-content;
    display: flex;
    animation: 40s slide infinite linear;
}

.logos-slide img {
    opacity: 0.4;
    filter: brightness(0) invert(1);
    height: 50px;
    margin: 0 40px;
    transition: 0.5s;
}


.logos-slide img:hover {
    opacity: 0.8;
}



/* ###################### CONTACT FORM ######################### */


.contact-box {
    /* padding-top: 4rem; */
    padding: 4rem 0rem;
    /* height: 90vh; */
    background-color: #020b0d;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(./assets/secbg.png);
}

/* COntact Title */

.contact-box .title h2 {
    color: white;
    -webkit-text-stroke: 2px #3d3d3d;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.2em;
}

/* ################ FORM AREA ################### */


.contact-form-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.contact-form-area .contact-img{
    width: 40%;
    height: auto;
}

.contact-form-area .contact-img img{
    width: 100%;
    object-fit: cover;
}

.contact-img{
    position: relative;
}

.contact-form-area .contact-form{
    flex: 0 0 auto;
    width: 56%;
    /* border: 2px solid white; */
}

.form-1 input{
    background: #020b0d;
    border: 1px solid #2d2d2d;
    color: #fff;
    height: 54px;
    outline: none;
    padding: 10px 25px;
    transition: .4s ease-in;
    width: 100%;
    margin: 1rem 0rem;
}

.form-1 input:focus  , .form-1 textarea:focus{
    border: 1px solid red;

}

.form-1 textarea{
    margin-top: 1rem;
    background: #020b0d;
    border: 1px solid #2d2d2d;
    color: #fff;
    height: 145px;
    outline: none;
    padding: 10px 25px;
    transition: .4s ease-in;
    width: 100%;
}
.contact-btn-container{
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}
.contact-btn-container a{
    text-decoration: none;
}


.contact-btn{
    padding: 0.7rem 3rem;
}



/* ######################### FOOTER ############################## */

.footer {
    /* margin-top: 5rem; */
    padding-top: 5rem;
    /* height: 90vh; */
    background-color: #17181a;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}


.footer-area1 a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #fff;
}

.footer-area1 h3{
    margin-bottom: 4rem;
}

.footer-area1 span {
    color: red;
}

.footer-area1 ul {
    list-style: none;
    color: white;
}

.footer-area1 ul li{
    margin-bottom: 1rem;
    font-size: 1.9rem;
    color: #9da1a5;
}

.footer-area1, .footer-area2{
    flex: 1 1  auto;
}




.media-items{
    display: flex;
    justify-content: start;
    padding: 3rem 0rem;
}
.media-items h2{
    font-size: 2rem;
    color: white;
    font-weight: 400;
}

.media-items .icons{
    /* border: 2px solid white; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: white;
    margin-left: 5rem;
}

.media-items .icons i{
    margin-right: 3rem;
    transition: 0.5s;
    cursor: pointer;
}

.media-items .icons i:hover{
    color: red;
}






.footer-box21{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.footer-item{
    padding: 0rem 3rem;
}

.footer-item h2{
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: 2rem;
}


.footer-item a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #9da1a5;
    transition: 0.5s;
}
.footer-item a:hover{
    color: red;
}



.footer-item ul{
    list-style: none;
}


.footer-item ul li{
    margin-bottom: 1rem;
    font-size: 1.9rem;
    color: #9da1a5;
}

/* .footer-box22,.footer-box21{
    border: 2px solid white;
} */






/* #################### Bottom Footer ################### */


.footer-bottom{
    border-top: 1px solid #2d2d2d;
    margin-top: 3rem;
    padding: 2rem 0rem;
    display: flex;

}


.footer-bottom .footer-bottom-area1 , .footer-bottom .footer-bottom-area2{
    width: 50%;
}

.footer-bottom  h2{
    color: #9da1a5;
    font-size: 1.5rem;    
    font-weight: 400;
}

.footer-bottom .footer-bottom-area2 h2{
    text-align: right;
}





@media  (max-width: 1250px) {
    .container {
        width: 1024px;
        max-width: 90%;
        margin: 0 auto;
    }

    .secb-content .card {
        height: 200px;
    }

    .secb-content .card3 .card-box h1{
        font-size: 5rem;
    }
    .our-team-content{
        width: 280px;
        margin-bottom: 2rem;
    }

    .sec-e-box1 .test-item1 .test-content h6 {
        font-size: 1.6rem;
    }
    .sece-content .sec-e-box1{
        justify-content: space-around;
    }
    .sec-e-box2 .our-team-content{
        width: 340px;
    }
    .secd-content .wrapper1 .item-wrapper{
        width: 250px;
    }
    .secd-content .wrapper1 .upper-items{
        width: 310px;
    }
}






@media  (max-width: 1024px) {
    .container {
        width: 830px;
        max-width: 90%;
        margin: 0 auto;
    }
    .menu-items ul li,.nav-btn{
        font-size: 1.4rem;
    }
    .secb-content .card3 .card-box h1{
        font-size: 4rem;
    }

    .secc-box1{
        flex-direction: column-reverse;
    }
    .secc-box1 .secc-box11,.secc-box1 .secc-box12{
        width: 100%;
        margin: 1rem 0rem;
        z-index: 5;
    }
    .secc-box2{
        flex-direction: column;
    }
    .secc-box2 .secc-box21,.secc-box2 .secc-box22{
        width: 100%;
        margin: 1rem 0rem;
    }

    .secd-content .wrapper1 .item-wrapper, .our-team-content{
        width: 365px;
    }
    .sece-content{
        flex-direction: column-reverse;
    }
    .sece-content .sec-e-box1,.sece-content .sec-e-box2{
        width: 100%;
        padding: 1rem;
    }

    .sec-e-box2 .our-team-content{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .btn-team{
        margin: 0rem 3rem;
    }

    .sec-e-box1 .test-item1{
        margin-bottom: 2rem;
    }

    .contact-form-area .contact-img img{
        height: 100%;
        object-position: center;
    }
    .footer-item1{
        text-align: right;
    }

}

@media  (max-width: 835px) {
    .container {
        width: 648px;
        max-width: 90%;
        margin: 0 auto;
    } 

    .menu-items {
        display: none;
    }

    .hamburger{
        display: block;
    }
    .mobile-main-menu .nav-btn-container{
        margin-top: 2rem;
    }

    .nav-bar .nav-btn-container{
        display: none;   
    }
    header{
        padding: 2rem 0rem;
    }

    .secb-content .card{
        width: 200px;
        padding: 3rem 2rem;
    }
    .secb-content .card3 .card-box h1 {
        font-size: 3.1rem;
    }
    .secb-content .card3 .card-btn{
        font-size: 1.2rem;
    }

    .sec-c-box .title h2{
        font-size: 7.5rem;
    }  

    .secd-content .team-wrapper{
        justify-content: center;
    }
    .secd-content .wrapper1 .item-wrapper, .our-team-content{
        width: 80%;
        height: 500px;
    }
    .footer-container{
        flex-direction: column !important ;
        text-align: center;
    }    
    .media-items{
        justify-content: center;
    }
    .contact-form-area{
        flex-direction: column;
    }
    .contact-form-area .contact-img{
        width: 100%;
    }
    .contact-form-area .contact-form{
        width: 100%;
        margin-top: 3rem;
    }
}

@media  (max-width: 648px) {

    .container{
        width: 500px;
        overflow-x: hidden;
    }

    .seca-content h4{
        text-align: center;
    }

    .seca-content .cnt-box1 h1{
        font-size: 3rem;
    }
    .seca-content .cnt-box1 h3{
        font-size: 1.5rem;
    }

    .seca-btn a{
        font-size: 1.2rem;
    }

    .secb-content{
        flex-direction: column;
    }
    .secb-content .card{
        width: 80%;
    }

    .footer-box21{
        flex-direction: column;
    }
    .footer-item1{
        text-align: center;
        margin-top: 2rem;
    }

    .sec-b-box .title h2{
        text-align: center;
        font-size: 6rem;
    }
    .sec-c-box .title h2{
        text-align: center;
        font-size: 6rem;

    }
    .sec-d-box .title h2{
        text-align: center;
        font-size: 6rem;

    }
    .sec-e-box .title h2{
        text-align: center;
        font-size: 6rem;
    }

    .contact-box .title h2{
        text-align: center;
        font-size: 7.5rem;
    }

}
@media  (max-width: 480px) {
    .container{
        width: auto;
        /* border: 2px solid white; */
        overflow-x:hidden ;
    }


    .seca-content .cnt-box1 h1{
        font-size: 3rem;
    }

    .contact-box .title h2{
        text-align: center;
        font-size: 6rem;
    }


}









